.contact-section{
  display: block;
}

.glass-effect{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 2% 0;
  padding: 2% 3%;
  border-radius: 10px;
  animation: zoom-left-side 1s linear;
}
input, textarea{
  background-color: #fff;
  color: #848484;
  font-weight: 300;
  padding: 2%;
  font-size: large;
  border: none;
  border-radius: 10px;
  margin: 2%;
}
.message{
  min-height: 200px;
  grid-area: 3/1/span 4/ span 2;
  padding: 2%;
  margin: 1%;
}
.contact-profile-button{
  text-align: center;
}

@media screen and (min-width:426px) and (max-width:1024px){
  input, textarea{
    font-size: medium;
    padding: 2%;
  }
  .message{
    min-height: 150px;
  }
}
@media screen and (max-width:768px){
  input, textarea{
    font-size: smaller;
    padding: 2%;
  }
  .message{
    min-height: 100px;
  }
}


/* mobile media query */
@media screen and (max-width:426px){
  .glass-effect{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 2%;
    padding: 5%;
  }
  input, textarea{
    font-size: 5px;
    padding: 10px;
    border-radius: 5px;
  }
  .message{
    min-height: 50px;
    margin: 2%;
    padding: 10px;
  }
}