*{
  font-family: "Oswald", sans-serif;
  margin: 0;
  box-sizing: border-box;
  /* color: #fff; */
}

body{
  background: linear-gradient(90deg,rgb(116, 116, 116), rgba(111, 111, 111, 0.564), rgb(169, 169, 169), rgb(125, 125, 125));
}
.nav-bar{
  height: 10vh;
  display: flex;
  margin: 10px 20px;
  justify-content: space-between;
  align-items: center;
}
.social-media{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  /* color: rgb(255, 255, 255); */
  font-size: 2rem;
  margin-left: 20px;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.5s linear;
  animation: zoom 0.5s linear;

}
.logo-style{
  color: rgb(11, 84, 37);
}
.logo:hover{
  color: #ccc;
}
.icon{
  font-size: x-large;
  width: 50px;
  cursor: pointer;
  animation: zoom 0.5s linear;
  /* text-align: center; */
  /* transition: all 0.3s ease-in; */
}
.linkedin:hover{
  color: rgb(0, 140, 200);
}
.github:hover{
  color: rgb(255, 255, 255);
}
.hackerrank:hover{
  color: rgb(16, 151, 45);
}
.instagram:hover{
  color: rgb(219, 28, 28);
}
.discord:hover{
  color: rgb(102, 98, 238);
}
.link{
  color: #000;
}
.bar-container{
  display: none;
}
.hero-right-sidebar{
  /* display: none; */
  width: 400px;
  height: 100vh;
  background-color: rgb(18, 71, 30);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.profile-right-side-img{
  /* position: absolute;
  top: 0;
  left: 25%; */
  width: 50%;
}

.hire-me{
  background-color: rgb(231, 231, 231);
  color: rgb(18, 71, 30);
  border: none;
  font-size: larger;
  margin-top: -60px;
  padding: 10px 16px;
  transition: all 0.5s linear;
  cursor: pointer;
  border-radius: 3px;
}
.sidebar-icon{
  color: white;
}

.hire-me:hover{
  transform: scale(1.04);
}
.right-side-scoial-media{
  display: flex;
}
.profile-hero-img{
  position: absolute;
  z-index: -1;
  top: 5%;
  width: 40%;
  animation: zoom-left-side 1.5s ease-in-out;
}
.hero-profile-info{
  width: 40%;
  position: absolute;
  right: 15%;
  top: 35%;
}
.hero-profile-name{
  font-size: 4rem;
  animation: zoom 0.3s linear;
}
.hero-profile-about{
  font-size: 2rem;
  margin-bottom: 30px;
  animation: zoom 0.5s linear;
}

.hero-profile-button{
  background-color: rgb(32, 86, 47);
  color: #fff;
  border: none;
  padding: 20px 36px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.4s linear;
  animation: zoom 0.5s linear;
}
.arrow-icon{
  margin-left: 5px;
}
.hero-profile-button:hover{
  background-color: rgb(47, 123, 68);
  transform: scale(1.02);
  transform: translateX(3px);

}
.hero-right-icons{
  width: 80px;
  height: 350px;
  border-radius: 25px;
  position: fixed;
  top: 30%;
  right: 5%;
  background-color: rgb(153, 153, 153);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  animation: zoom-right-side 1.5s ease-in-out;
}
/* .hero-right-icons a{
  text-decoration: none;
} */
.hero-right-icon{
  font-size: large;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.more-list-info{
  background-color: rgb(17, 24, 18);
  width: 100px;
  height: 210px;
  position: fixed;
  border-radius: 10px;
  right: 6%;
  top: 41%;
  font-size: 1em;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.more-list-info p{
  color: #fff;
  width: 100%;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.more-list-info-item:hover{
  background-color: rgb(41, 51, 43);
}
.hero-right-icon:hover{
  color: rgb(10, 70, 26);
}
.more-right-list-icon:hover .more-list-info{
  color: rgb(10, 70, 26);
  display: flex;
}
/* .more-right-list-icon:hover~.more-list-info{
  display: flex;
} */
.color-code{
  color: rgb(32, 86, 47);
}

@keyframes zoom {
  from{
    opacity: 0;
    transform: translateY(-50px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes zoom-left-side {
  from{
    opacity: 0;
    transform: translateX(-50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes zoom-right-side {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}



@media screen and (min-width:1025px){
  .hero-profile-name{
    font-size: 3rem;
  }
  .hero-profile-about{
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .hero-right-icon{
    font-size: large;
  }
  
}

/* laptop media query */

@media screen and (min-width:767px) and (max-width:1024px){
  .profile-hero-img{
    position: absolute;
    top: 10%;
    width: 40%;
  }
  .hero-profile-info{
    right: 15%;
    top: 35%;
  }
  .hero-profile-name{
    font-size: 2.5rem;
  }
  .hero-profile-about{
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  .hero-right-icon{
    font-size: medium;
  }
  .hero-right-icons{
    width: 50px;
    height: 250px;
  }
  .hero-right-icon{
    font-size: small;
  }
  .hero-profile-button{
    padding: 15px 20px;
    font-size: small;
  }
  .more-list-info{
    right: 5%;
    top: 45%;
    width: 70px;
    height: 150px;
  }
  .more-list-info p{
    font-size: smaller;
  }
}

/* ipad media query */

@media screen and (min-width: 426px) and (max-width:768px){
  .logo{
    margin: 0;
    font-size: 1.8rem;
  }
  .bar-container{
    display: block;
    padding: 2px 10px;
    border: 1px solid rgb(32, 86, 47);
    cursor: pointer;
    animation: slide 0.2s linear;
  }
  .bar-icon{
    cursor: pointer;
    font-size: 20px;
  }
  .bar-container:hover + .hero-right-sidebar{
    display: flex;
  }
  .social-media{
    display: none;
  }
  .home-main{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .profile-hero-img{
    width: 36%;
    position: static;
    margin: 0 auto;
  }
  .hero-profile-info{
    width: 100%;
    position: static;
    padding: 20px 10px;
    margin-top: -5%;
  }
  .hero-profile-name{
    font-size: 2rem;
  }
  .hero-profile-about{
    font-size: 1rem;
  }
  .hero-right-icons{
    position: static;
    width: 100%;
    height: 60px;
    border-radius: 0;
    flex-direction: row;
  }
  .hero-right-icon{
    font-size: medium;
  }
  .hero-profile-button{
    padding: 12px 17px;
    margin-bottom: 2%;
    margin-top: 0;
    font-size: xx-small;
  }
  .more-list-info{
    right: 15%;
    top: 42%;
    width: 80px;
    height: 200px;
  }
  .more-list-info p{
    font-size: smaller;
  }
}

/* mobile media query */
@media screen and (max-width:426px){
  .home-container{
    display: flex;
    flex-direction: column;
  }
  .logo{
    margin: 0;
    font-size: 1rem;
  }
  .bar-container{
    display: block;
    padding: 0 10px;
    border: 1px solid rgb(32, 86, 47);
    cursor: pointer;
    animation: slide 0.2s linear;
  }
  .bar-icon{
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    padding-bottom: 5px;
  }
  .bar-container:hover + .hero-right-sidebar{
    display: flex;
  }
  .social-media{
    display: none;
  }
  .home-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .profile-hero-img{
    width: 180px;
    position: static;
    margin: -2% auto;
  }
  .hero-profile-info{
    position: static;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    padding: 10px 20px;
    margin-top: -20px;
  }
  .hero-profile-name{
    font-size: 1.2rem;
  }
  .hero-profile-about{
    font-size: 0.5rem;
    margin: 3% 0;
  }

  .hero-right-icons{
    position: static;
    width: 100%;
    height: 40px;
    border-radius: 0;
    flex-direction: row;
  }
  .hero-right-icon{
    font-size: xx-small;
  }
  .hero-profile-button{
    padding: 6px 7px;
    margin-top: 0;
    margin-bottom: 2%;
    font-size: 5px;
  }
  .more-list-info{
    right: 10%;
    top: 65%;
    width: 70px;
    height: 120px;
  }
  .more-list-info p{
    font-size: xx-small;
  }
}
