
.about-section{
  display: flex;
  flex-direction: column;
  padding: 2% 15%;
  
}
.about-title{
  font-size: 4rem;
  font-weight: 900;
  color: rgb(32, 86, 47);
  margin: 3% 0;
  cursor: pointer;
  transition: all 0.5s linear;
}
.about-title:hover{
  color: black;
}
.objective-title, .skill-title, .experience-title, .education-title, .learning-title{
  font-size: 2rem;
  font-weight: 900;
  margin: 2% 0;
  text-decoration:underline;
  cursor: pointer;
  transition: all 0.5s linear;
}

.objective-title:hover{
  color: rgb(225, 225, 225);
}
.skill-title:hover{
  color: rgb(225, 225, 225);
}
.experience-title:hover{
  color: rgb(225, 225, 225);
}
.education-title:hover{
  color: rgb(225, 225, 225);
}
.about-objective-info, .skill-domain-info{
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}
.skill-domain{
  /* background-color: rgb(153, 153, 153); */
  background-color: rgb(32, 86, 47);
  border-radius: 5px;
  margin: 4% 0;
  margin-top: 2px;
  padding: 2% 5%;
  box-shadow: 1px 1px 5px rgb(68, 68, 68);
  transition: all 0.3s linear;
  cursor: pointer;
}
.skill-domain:hover{
  background-color: rgb(31, 31, 31);
}
.skill-domain-title, .experience-with-training-institute{
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1%;
}
.skill-domain-info{
  color: #fff;
}

.institute-icon{
  width: 4%;
  border-radius: 25px;
}
.institute{
  display: flex;
  justify-content: start;
  gap: 2%;
  align-items: center;
  margin-bottom: 3%;
}
.experience-with-training-institute{
  margin: 0;
}
.experience-with-training{
  background-color: rgb(32, 86, 47);
  border-radius: 5px;
  margin: 4% 0;
  margin-top: 2px;
  padding: 8% 5%;
  box-shadow: 1px 1px 5px rgb(68, 68, 68);
  cursor: pointer;
  transition: all 0.3s linear;
}
.experience-with-training:hover{
  background-color: rgb(31, 31, 31);
}

.experience-with-training-duration, .experience-with-training-skill, .experience-with-training-skill-gain{
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  margin-bottom: 1%;
  font-size: larger;
}
.about-arrow-icon{
  color: black;
  margin-right: 2%;
  transition: all 0.2s linear;
}
.experience-with-training:hover .about-arrow-icon{
  color: #fff;
}
.eduaction-graduation{
  box-shadow: 1px 1px 10px rgb(213, 212, 212);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  transition: all 0.4s linear;
  margin-bottom: 4%;
}
.eduaction-graduation:hover{
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  transform: scale(1.01);
}
.graduation-info{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.graduation-icon{
  width: 120px;
  border-radius: 5px;
}
.school{
  height: 120px;
}

.graduation-name{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 2%;
}
.graduation-year, .graduation-domain, .graduation-grade{
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(26, 69, 18);
}
.color-code-2{
  color: rgb(249, 249, 249);
  font-weight: 200;
}
.tutorial{
  background-color: rgb(32, 86, 47);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.tutorial-title, .documentation-title, .ai-tools-title, .Coding-platforms-title{
  padding: 2% 1%;
  background-color: rgb(255, 255, 255);
  font-size: larger;
  border-radius: 5px;
  color: #000000;
}
.documentation-title, .ai-tools-title, .Coding-platforms-title{
  margin: 2% 0;
  font-weight: bold;
}
.tutorial-list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: scroll;
  gap: 1%;
  margin: 2% 0;
}
.tutorial-list::-webkit-scrollbar {
  display: none;
}

.tutorial-list-name{
  text-align: center;
  font-size: small;
  color: #fff;
  margin-bottom: 2%;
}
.tutorial-video{
  border-radius: 10px;
  width: 300px;
  height: 200px;
}
.js-simon{
  height: 195px;
  border-radius: 10px;
  cursor: pointer;
}